<html>
    <body>
        <form action="http://localhost:3000/user/login" method="GET">
            <div>
                <label for="usuario">usuario</label>
                <input type="text" id="usuario" name="usuario" placeholder="insira seu usario"/>

            </div>
            <div>
                <label for="senha">senha</label>
                <input type ="password" id="senha" name="senha" placeholder="insira sua senha"/>

            </div>

            <input type="submit" value ="login"/>
        </form>
    </body>
</html>