<html>
    <body>
        <table border="1px">
            <tr>
                <td>name</td>
                <td>adress</td>
            </tr>
            <%for(var i=0;i<produtos.length;i++) {%>
                <tr>
                    <td><%=produtos[i].name%></td>
                    <td><%=produtos[i].address%></td>
                </tr>
            <%}%>
            <tr>
            </tr>
        </table>
    </body>
</html>